.bg-service {
  background-color: #fff;
}
.box {
  padding: 0px 0px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.5s;
}
.card-body {
  position: relative;
  bottom: 0;
  transition: all ease-in-out 0.5s;
}
.box:hover .card-body {
  position: relative;
  bottom: 10px;
}
.box:hover {
  background-color: transparent;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  color: #000;
}
.blog-head {
  color: #cea256;
  text-align: left;
  margin-bottom: 20px;
}

.blog-img {
  width: 100%px;
  height: 50%px;
  margin: auto;
  background-color: rgb(189, 187, 187);
  height: 230px;
  object-fit: cover;
}
.blog-title {
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.card-btn {
  padding: 7px 17px;
  background-color: #fff;
  border: 1px solid #cea256;
  color: #cea256;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
}

.service-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.card-btn {
  display: inline-block;
  height: 43px;
}
.pagination {
  margin: 30px;
  justify-content: center;
}
.pagination button {
  padding: 10px 20px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border: none;
}
.pagination .selected {
  background-color: #ff7602;
  color: #fff;
}
